@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .table{
    width:378px;
    height: 378px;
    border: 4px solid black;
    margin-top: 50px;
    margin-left: 300px;
  }
  .liItem{
    width: 40px;
    height: 40px;
    border: 2px solid gray;
    text-align: center;
  }
  .griditem{
    width: 40px;
    height: 40px;
    border: 2px solid gray;
    border-right-width: 4px;
    border-right-color: black;
    text-align: center;
  }
  .bottomline{
    border-bottom-color: black;
    border-bottom-width: 4px;
  }
}