@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .liItem{
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius:  10px;
    text-align: center;
  }
}